---
import PageLayout from "@layouts/PageLayout.astro"
import Container from "@components/Container.astro"
---
<PageLayout title="INTENRSHIP" description="vista sobre toda la instalacion de sistema ok.">
    <Container size="2xl">
    <div class="animate max-w-5xl mx-auto py-8 mt-16">
      
      <!-- Card Principal del Proyecto -->
      <div class="bg-white dark:bg-[rgb(var(--gray-999))] rounded-3xl p-4 sm:p-8 md:p-12 shadow-2xl border dark:border-[rgb(var(--gray-800))]"></div>
    </div>
    </Container>
    </PageLayout>
